<div id="image_box">
  <div id="logo_box" >
    <div id="front-logo">
      teachout<span id="dot">.</span>io
    </div>

    <div class="log-in">
      <!--<%= render "shared/log_in" %>-->
    </div>
    <div class="sign-up">
      <!--<%= render "shared/sign_up" %>-->
  </div>
</div>

<div id="button_container">

    <%= link_to "join", new_teacher_path, :class => "front_button" %>
    <%= link_to "login", new_session_path, :class => "front_button" %>
</div>