<div id="image_box">
  <div id="logo_box" >
    <div id="front-logo">
      teachout<span id="dot">.</span>io
    </div>
</div>

<div id="button_container">
    <%= link_to "join", new_teacher_path, :class => "front_button", :remote => true %>
    <%= link_to "login", new_session_path, :class => "front_button" %>
</div>

<div class="modal" style="display:none">
</div>

<!-- http://stackoverflow.com/questions/7266822/how-to-popup-a-panel-when-clicking-a-url-in-rails -->