#calendar {
  padding-top: 18px;
  padding-bottom:100px;
  float:right;
}

#calendar .calendar {
  border-collapse: collapse;
  width: 700px;
  float:right;

  table {
    width: 100%;
  }

  td, th {
    font-family: "Roboto Condensed", arial, helvetica, sans-serif;
    font-size: 12px;
    padding: 6px;
    border: 1px solid #EBEBEB;
  }

  th {
    background: #F5F5F5;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    vertical-align: top;
    font-size: 16px;
    transition: background-color 0.2s linear; 
    -webkit-transition: background-color 0.2s linear;
    height: 80px;
    overflow:hidden;
    text-overflow: ellipsis;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}


#calendar #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;

  }
}

#calendar ul {
  font-size: 12px;
  padding-left: 20px;
  margin:0px;
  margin-top: 2px
}

#message-text a{
  color: black
}
#message-text a:hover{
  color: #999
}

.single_day {
  display:none;
  background-color:white;
  padding: 0 10 10 10;
  width: 700px;
  border: 1px solid #EBEBEB;
}

#single_day_header {
  background-color: #F5F5F5;
  margin-top:0;
  text-align: center
}

#single_day li a {
  color: black;
}

#single_day ul {
  list-style-type:none;
}

#single_day h4 {
  list-style-type:none;
  padding-left:1em;
}

#single_day #student_name {
  color: #21A2BC;
  margin-left: 1em;
}
