

/*#dashboard {
  position: relative;
}

#dashboard h2 {
  text-align: center;
}

#dashboard .dashboard-buttons {
  position: relative;
  width: 414px;
  margin-left: auto;
  margin-right: auto;
  height: 144px;
}

#dashboard .dashboard-buttons img{
  margin:auto;
  clear:both;
}

#dashboard .dashboard-buttons a {
  color: #363636;
}

#dashboard .dashboard-buttons a:hover {
  color: #21A2BC;
}

#dashboard .dashboard-buttons .button {
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  text-align: center;
  padding: 1em;
}*/


/*#dashboard {
  background-color: #fff;
}*/






/*#dashboard .students-list {
  margin: 10px auto auto 1em;
  padding-top: 1em;
  min-height: 600px;
  clear: both;
}*/
/*
#dashboard .students-list h4 {
  margin-left: 39px;
}

#dashboard .students-list ul {
  width: 40em;
  list-style-type: none;
}*/
/*
#dashboard .students-list ul li {
  float: left;
  width: 12em;
}

#dashboard .students-list ul li a {
  display: block;
  width: 7em;
  text-decoration: none;
}*/


/*
#last-text {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  width: 45%;
  min-height: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 1px solid #EBEBEB;
}*/

/*#next-text {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  width: 45%;
  min-height: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 1px solid #EBEBEB;
}

.text-title {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  color: #666;
  font-size: 12px;
  text-align: center;
  display: block;
  background-color: whitesmoke;
  padding: 6px;
}

.text-content {
  padding: 1em;
  line-height: 20px;
  display: block;
}*/



/*.text-preview {
  clear:both;
  padding-top: 20px;
}*/

#schedule_text_form, #new_text_form, #add_student_form {
  display: none;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 40px;
  z-index: 102;
  position: absolute;
  width: auto;
  margin-top: -200px;
  background-color: white;
  -moz-box-shadow: 3px 3px 4px #191922;
  -webkit-box-shadow: 3px 3px 4px #191922;
  box-shadow: 3px 3px 4px #191922;
}

.dashboard-buttons {
  /*height: auto;*/
  position: relative;
  height: 70px;
  /*clear: both;*/
  margin-bottom: 10px;
}

.button {
  width: 125px;
  height: 50px;
  display: block;
  float: left;
  text-align: center;
  background: url(image_path("rails.png"));
  /*background-size: percentage(1);*/
}

#dashboard_container {
  position: absolute;
  min-width: 1000px;
}

.students-list {
  position: relative;
  float: left;
  display: block;
  width: 270px;
}



/*
#schedule_text_form {
  margin-left: 410px;
  width: 400px;
}

#new_text_form {
  margin-left: 410px;
  width: 400px;
}

#add_student_form {
  margin-left: 410px;
  width: 400px; 
}

*/





















