$orange: #ED9B7E;
$blue: #21A2BC;
$lime: #DCE89D;
$peach: #E8D0C0;
$tan: #C8BFB7;
$off_white: #F8F8F3;


#col1 {
  float: left;
  position: absolute;
}

#col2 {
  float:right
}

#calendar {
  position: absolute;
  left: 300px;
}

.single_day {
  position: absolute;
  left: 1020px;
  top: 22px;
  width: 279px;
}

#dashboard {
  position: relative;
  span {
    font-family: "Roboto Condensed", sans-serif;
    line-height: 47px;
    text-transform: lowercase;
    font-size: 20px;
  }
}

#dashboard h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/*#dashboard_name {
  display: block;*/
  /*text-align: center;*/
/*  width: 1008px;
  height: 47px;
  background: url('dashboard_name.png') no-repeat;
  padding: 5px 0 0 10px;
}*/

.dashboard_buttons{
  height: auto;
  width: 278px;
  float: left;
  position: relative;
  /*margin-bottom: 30px;*/
}

.dashboard_buttons a{
  position: relative;
  margin: 5px 30px 0px 0;
  display: block;
  width: 282px;
  height: 67px;
}

.dashboard_buttons a:first-child{
  margin-top: 20px;
  /*margin-left: 30px;*/
}

#new_text_button {
  background: url('send-text-up.png');
  &:hover{
    background: url('send-text-down.png');
  }
}

#schedule_text_button {
  background: url('schedule-text-up.png');
  &:hover{
    background: url('schedule-text-down.png');
  }
}

#add_student_button {
  background: url('add-student-up.png');
  &:hover{
    background: url('add-student-down.png');
  }
}



.button {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  position: relative;
  line-height: 54px;
  background-color: black;
  width: 129px;
  height: 54px;
  float: left;
  margin-left: 0px;
  text-align: center;
  text-decoration: none;
  color: $off_white;

  &:hover{
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.48);
  }
}

.students-list {
  float: left;
  width: 270px;
  clear:left;
}

.students-list ul {
  list-style-type: none;
  padding-left: 0;
}

.students-list ul li {
  padding-left: 0;
  margin-right: 0;
  border-bottom: 1px solid lighten($blue, 35%);
}

.students-list ul li a {
  font-family: 'Montserrat', sans-serif;
  color: $blue;
  padding-left: 0;
  margin-right: 0;
  &:hover {
    color: darken($orange, 15%);
  }
}

#schedule_text_form, #new_text_form, #add_student_form {
  display: none;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 40px;
  z-index: 1000;
  position: absolute;
  height: 100%;
  margin: 0 auto 0 auto;
  width: 600px;
  height: auto;
  overflow: auto;
  background-color: white;
  -moz-box-shadow: 3px 3px 4px #191922;
  -webkit-box-shadow: 3px 3px 4px #191922;
  box-shadow: 3px 3px 4px #191922;
}

#form_students_list {
  margin-left: 0;
  width: 200px;
  float: left;
  font-size: .8em;
  ul {
    padding-left: 0;
    list-style-type: none;
  }
}

.compose {
  padding-top: 10px;
  float: right;
  padding-right: 40px;
  .custom_submit {
    margin-right: 0;
  }
}

#new_message_text_content {
  float: right;
}

#new_text_form {
  .compose {
    display: block;
    float: right;
  }
}

.compose #message_subject {
  width: 100%;
}

#send_text_compose_area {
  position: relative;
  width: 340px;
  float: right;
}

#edit_student_col h2 {
  color: $blue;
}

form h3 {
  color: $blue;
  margin-bottom: 5px;
}

#add_student_form {
  min-width: 400px;
  min-height: 300px;
  width: auto;
  input {
    margin: 5px 0 5px 0;
  }
  .custom_submit {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  h3 {
    color: $blue;
  }
}

#nested_contact_fields {
  fieldset {
    display:inline-block;
  }
}

a.add_fields {
  color: $blue;
  &:hover {
    color:darken($blue,15%);
  }
}

.remove-fields {
  color: lighten(red, 10%);
  &:hover {
    color:red;
  }
}



#logo_box_inside {
  float: left;
  margin-left: 20px;
  margin-top: 5px;
  z-index:3;
  position: absolute;
  opacity: .9;
  width: 150px;
  height: 37px;
  border-radius: 12px;
  background-color: $off_white;
}

#logo_inside {
  line-height: 61px;
  margin-left: 40px;
  /*margin-top: 9px;*/
  z-index: 4;
  opacity: 1;
  font-size: 35px;
  color: $off_white;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  #dot {
    color: $orange;
  }
}




