#dashboard h2 {
  text-align: center;
}

#dashboard .dashboard-buttons {
text-align: center;
}

#dashboard .students-list {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.students-list h4 {
  margin-left: 39px;
}

.students-list ul {
  width: 40em;
  list-style-type: none;
}

.students-list ul li {
  float: left;
  width: 12em;
}

.students-list br {
  clear :left;
}

.students-list ul li a {
  display: block;
  width: 7em;
  text-decoration: none;
}
