$orange: #ED9B7E;
$blue: #21A2BC;
$lime: #DCE89D;
$peach: #E8D0C0;
$tan: #C8BFB7;
$off_white: #F8F8F3;

#edit_student_container {
  position: relative;
}

#edit_student_col {
  padding-left: 20px;
  border-radius: 8px;
  float: left;
  position: relative;
  width: 550px;
  background-color: white;
}


#student_info_col {
  border-radius: 8px;
  float: right;
  position: relative;
  width: 400px;
  height: 350px;
  background-color: white;
}


#custom_submit_edit1 {
  background:none;
  border:none;
  font-size:.8em;
  background-color: $blue;
  color: white;
  margin-bottom: 20px;
  float: left;
  margin-right: 20px;
  margin-top: 18px;
  &:hover { background-color: darken($lime, 15%)};
}

#custom_submit_edit2 {
  background:none;
  border:none;
  font-size:.8em;
  background-color: $blue;
  color: white;
  margin-bottom: 20px;
  float: left;
  &:hover { background-color: darken($lime, 15%)};
}
