$orange: #ED9B7E;
$blue: #21A2BC;
$lime: #DCE89D;
$peach: #E8D0C0;
$tan: #C8BFB7;
$off_white: #F8F8F3;

h1, h2, h3, h4 {
  font-weight: normal;
}

.log-in, .sign-up  {
  text-align: center;
  float: left;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
}

#image_box {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 1000px;
  min-width: 500px;
  height: 600px;
  border-radius: 12px;
  background-color: $peach;
  background: url(image_path('classroom-03.jpg')) no-repeat;
  background-size: 1000px auto;
}

#logo_box {
  z-index:100;
  position: absolute;
  opacity: .9;
  margin-left: 200px;
  margin-top: 225px;
  width: 600px;
  height: 150px;
  border-radius: 12px;
  background-color: $off_white;
}

#front-logo {
  z-index: 101;
  opacity: 1;
  margin-top: 30px;
  margin-left: 35px;
  font-size: 70px;
  color: $blue;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  #dot {
    color: $orange;
  }
}

#button_container {
  position: absolute;
  z-index: 100;
  margin-top: 400px;
  margin-left: 375px;
}

.front_button {
  margin-right: 20px;
  font-size: 20px;
  padding: 3px;
  text-align: center;
  display: inline-block;
  background-color: $off_white;
  width: 100px;
  background-color: $blue;
  border-radius: 3px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  &:hover { background-color: darken($blue, 10%)}
}


#modal_background {
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: black;
  opacity: .7;
}

input, select, textarea, button {
  margin-left: auto;
  margin-right: auto;
  font-size:0.85em;
  outline:none;
  font-family:'Roboto Slab';
}

.front_form {
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 40px;
  z-index: 102;
  position: absolute;
  width: 300px;
  height: auto;
  background-color: white;
  -moz-box-shadow: 3px 3px 4px #191922;
  -webkit-box-shadow: 3px 3px 4px #191922;
  box-shadow: 3px 3px 4px #191922;
  .custom_submit {
    margin-right: 40px;
  }
}

#join_form {
  margin-left: 150px;
  margin-top: 25px;
}

#login_form {
  margin-left: 150px;
  margin-top: 150px;
  /*margin-top: 250px;*/
}

.custom_submit {
  background:none;
  border:none;
  font-size:.8em;
  background-color: $blue;
  color: white;
  margin-bottom: 20px;
  float: right;
  margin-right: 50px;

  &:hover { background-color: darken($lime, 15%)};
}

#slideshow {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border-radius: 12px;
  overflow: hidden;
  width: 1000px;
  height: 600px;
  background-color: $peach;
  background-size: 1000px auto;
}

.slideshowImg {
  z-index: 8;
  position: absolute;
  border-radius: 12px;
  left: 0;
  top: 0;
}

.active {
  z-index: 10;
  position: absolute;
  border-radius: 12px;
  left: 0;
  top: 0;
}

.last-active {
  z-index: 9;
  position: absolute;
  border-radius: 12px;
  left: 0;
  top: 0;
}

#slideshow {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border-radius: 12px;

  overflow: hidden;
  width: 1000px;
  height: 600px;
  background-color: $peach;
  background-size: 1000px auto;
}

.slideshowImg {
  z-index: 8;
  position: absolute;
  border-radius: 12px;
  left: 0;
  top: 0;
}

.active {
  z-index: 10;
  position: absolute;
  border-radius: 12px;
  left: 0;
  top: 0;
}

.last-active {
  z-index: 9;
  position: absolute;
  border-radius: 12px;
  left: 0;
  top: 0;
}
