.log-in {
  text-align: center;
  float: left;
  width: 45%; 
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px; 
}

.sign-up {
  text-align: center;
  float: left;
  width: 45%; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px; 
}