$orange: #ED9B7E;
$blue: #21A2BC;
$lime: #DCE89D;
$peach: #E8D0C0;
$tan: #C8BFB7;
$off_white: #F8F8F3;

.log-in, .sign-up  {
  text-align: center;
  float: left;
  width: 45%; 
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px; 
}

body {
  background-color: $off_white;
}