$orange: #ED9B7E;
$blue: #21A2BC;
$lime: #DCE89D;
$peach: #E8D0C0;
$tan: #C8BFB7;
$off_white: #F8F8F3;

a {
  text-decoration: none;
}

body {
  margin:0;
  font-family: 'Roboto Slab', serif;
  background-color: $off_white;
  color: #363636;
}

header {
  position: relative;
  width:100%;
  margin-left: -1px;
  margin-right: -1px;

  margin-right: -30px;

  background-color: $blue ;
  margin-bottom: 10px;
  /*min-width: 1000px;*/
  clear: both;
  height: 54px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
}

header:after {
  position: absolute;
  width: 80%;
  height: 40%;
  left: 10%;
  border-radius: 50%;
  z-index: -1;
  bottom: 0%;
  content: "";
  box-shadow: 0 7px 16px rgba(0,0,0,0.4);
  /*margin-bottom: 100px;*/
}

header a {
  color: #F8F8F3;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

header a:hover {
  color: #363636;
}

header .logo {
  float: left;
  padding-left: 24px;
  margin-top: 12px;
}

header .header-info {
  float: right;
  padding-right: 24px;
  padding-top: 16px;
  font-family: 'Montserrat', sans-serif;
}

#container {
  padding-top: 20px;
  padding-bottom: 48px;
  padding-right: 16px;
  padding-left: 16px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.errors {
  font-size: 14px;
  color: red;
}

#add_student_form {
  fieldset {
    width: 520px;
    border-radius: 5px;
  }
}


input[type=text], input[type=password], input[type=email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  height: auto;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  /*margin: -1px;*/
}

/*#add_student_form {
  display: none;
  z-index: 3;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  position: absolute;
  margin-left: 330px;
  width: auto;
  height: auto;
  background-color: white;
}*/


/*.front_form {
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 40px;
  z-index: 3;
  position: absolute;
  margin-top: 200px;
  margin-left: 330px;
  width: 300px;
  height: auto;
  background-color: white;
}*/
