#new-message .students-list {
  float: left;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.compose {
  float: left;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
